In [3]:
!python lqtagrid.py

Usage: lqtagrid.py [OPTIONS]

Error: Missing option "--mols".

In [8]:
import pandas as pd

In [6]:
m = [[1,2,3],[4,5,6]]

In [7]:
m

[[1, 2, 3], [4, 5, 6]]

In [8]:
df = pd.DataFrame(m)

In [9]:
df

   0  1  2
0  1  2  3
1  4  5  6

In [11]:
df.values

array([[1, 2, 3],
       [4, 5, 6]])

In [6]:
!python lqtagrid.py --mols "/home/jpam/teste_lqtagridpy/arquivos" -c 2 2 2 -d 3 3 3 -a "NH3+" -s 0.5 -o "/home/jpam/teste_lqtagridpy/saida"

In [14]:
'teste.gro'.replace('.gro','')

'teste'

In [9]:
df = pd.DataFrame()

In [12]:
df = pd.read_csv('/home/jpam/teste_lqtagridpy/arquivos/saida.csv', sep = ';')

In [13]:
df.head()

,Unnamed: 0,2.00_2.00_2.00_NH3+_C:,2.00_2.00_2.50_NH3+_C:,2.00_2.00_3.00_NH3+_C:,2.00_2.00_3.50_NH3+_C:,2.00_2.00_4.00_NH3+_C:,2.00_2.00_4.50_NH3+_C:,2.00_2.00_5.00_NH3+_C:,2.00_2.50_2.00_NH3+_C:,2.00_2.50_2.50_NH3+_C:,...,5.00_4.50_4.00_NH3+_C:,5.00_4.50_4.50_NH3+_C:,5.00_4.50_5.00_NH3+_C:,5.00_5.00_2.00_NH3+_C:,5.00_5.00_2.50_NH3+_C:,5.00_5.00_3.00_NH3+_C:,5.00_5.00_3.50_NH3+_C:,5.00_5.00_4.00_NH3+_C:,5.00_5.00_4.50_NH3+_C:,5.00_5.00_5.00_NH3+_C:
0,1dftm_PAC,0.248949,0.267860,0.236497,0.222343,0.190401,0.206850,0.259446,0.268141,0.283485,...,-0.016081,0.017434,0.114324,0.170971,0.192697,0.157408,0.142167,0.107164,0.125381,0.182751
1,2dftm_PAC,2.101483,2.061713,2.113303,2.119058,2.110606,2.118290,2.084106,1.949105,1.919380,...,2.267882,2.275411,2.223210,1.933600,1.903905,1.941346,1.943825,1.931649,1.940689,1.920979
2,3dftm_PAC,2.382713,2.339751,2.398675,2.410544,2.420915,2.418039,2.362963,2.283191,2.246327,...,2.456013,2.452870,2.391894,2.238507,2.203150,2.251273,2.260433,2.267083,2.265767,2.222379
3,4dftm_PAC,1.238017,1.142796,1.284942,1.330811,1.417422,1.375139,1.190494,1.217926,1.135251,...,1.337090,1.287128,1.074749,1.134711,1.053097,1.174726,1.213724,1.287094,1.251314,1.094052

In [14]:
df.values()

TypeError: 'numpy.ndarray' object is not callable

In [15]:
df.get_values()

array([['1dftm_PAC', 0.2489490950055616, 0.2678601220358057, ...,
        0.10716380428438466, 0.12538091484177674, 0.18275116280187367],
       ['2dftm_PAC', 2.1014833011011005, 2.0617130685401914, ...,
        1.9316487321671412, 1.9406888538027784, 1.9209791213807004],
       ['3dftm_PAC', 2.3827126940054595, 2.339751174995402, ...,
        2.267082993071111, 2.265766509620188, 2.2223793212678284],
       ['4dftm_PAC', 1.2380170971789823, 1.1427958998521288, ...,
        1.2870940290041877, 1.2513142594544329, 1.094051992299359]], dtype=object)